li > button {
    font-size: smaller;
    float: right;
    color: red;
    border: none;
    background-color: azure;
    cursor: pointer;
}
li{
    display: flex;
    border-radius: 10px;
    padding: 20px;
    margin: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}